.nav {
  height: 50px;
  padding: 20px;
  margin-top: 10px;
  background: lightblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  
}

.nav ul {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 10px 15px;
}

.logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  display: flex;
}

.active {
  color: #fff;
}