
.footer {
 background-color: aliceblue;
}

ul.footeBar  {  
    display:flex;
    
  }
  
  ul.footerItems {
    display:inline-block;
    color: black;;
    font-size: 1rem;
    padding: 20px;
    margin-left: 20px;
  }
  
  
  ul.footerItems li {
    list-style-type: none;
    
  }
  