@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-xl;
  @apply text-center;
}

h2 {
  @apply text-lg;
  @apply text-center;
}

h3 {
  @apply text-center;
}

p {
  @apply text-base;
  @apply text-center;
}
