
.nav__link{
    font-size: 2rem; 
    position: relative;
    transition: all 0.2s;
    color: black;
  }
  
  .nav__link:hover{
   font-weight: bold;
  }

  @media screen and (min-width: 768px) {
    .nav__link::before{
      content: '';
      position: absolute;
      width: 0%;
      height: 6px;
      bottom: -16px;
      left: 0;
      background-color: white;
      transition: all 0.2s;
    }
    
    .nav__link:hover:before{
     width: 100%;
    }
  }
  